@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HEADER */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}   

.brand-name {
    display: flex;
}

.brand-name h1 {
    align-items: center;
    margin: auto auto;
    line-height: 1;
    font-size: 1.5rem;
    color: white;
}

.navbar {
    background-color: #6B40ED;
    height: 10%;
    z-index: 10;
}

#navbarNav {
    justify-content: flex-end;
}

#navbarNav ul {
    text-align: center;
}

#navbarNav ul li {
    font-size: 1.1rem;
    margin: 10px;
}

#navbarNav ul li a {
    color: white;
    padding: 0;
}

#navbarNav ul li a:hover {
    text-decoration: none;
}

.under-nav-section {
    width: 100%;
    display: inline-block;
    position: relative;
}

.under-nav-section img {
    width: 100%;
    min-height: 200px;
    padding: 0%;
}

.under-nav-title {
    z-index: 1;
    position: absolute;
    left: 8%;
    top: 20%;
    color: #6B40ED;
    width: 100%;
}

.under-nav-title h1 {
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-weight: 900;
    line-height: 1.8rem;
}

.underline-06 {
    background-image: linear-gradient(90deg, #d9d7e0, #ebe6fd);
    background-position: bottom;
    background-size: 100% 45%;
    background-repeat: no-repeat;
  }

@media screen and (min-width: 530px) {
    .under-nav-title h1 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .under-nav-title {
        left: 8%;
        top: 16%;
    }
}

@media screen and (min-width: 670px) {
    .brand-name h1 {
        font-size: 2rem;
    }

    .under-nav-title h1 {
        font-size: 2.5rem;
        line-height: 4rem;
    }
}

@media screen and (min-width: 992px) {

    #navbarNav ul li {
        margin: 20px;
    }

    .under-nav-title h1 {
        font-size: 3rem;
        line-height: 5rem;
    }

    .under-nav-title {
        left: 8%;
        top: 21%;
    }
}

@media screen and (min-width: 1200px) {
    .under-nav-title h1 {
        font-size: 3.7rem;
        line-height: 6rem;
    }

    .under-nav-title {
        left: 8%;
        top: 21%;
    }

    #navbarNav ul li {
        margin: 20px;
    }
}

/* ANIMATION HEADER */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.navbar-nav li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;
}

.navbar-nav li a {
    padding: 0.5em 0;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.navbar-nav a:before,
.navbar-nav a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.navbar-nav a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #EDC258;
}

.navbar-nav a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}

.navbar-nav a:hover:before {
    opacity: 1;
    width: 100%;
}

.navbar-nav a:hover:after {
    max-width: 100%;
}

/* FOOTER */


footer {
    display: flex;
    flex-direction: column;
    background-color: #6B40ED;
}

footer section {
    color: white;
    text-align: center;
    padding: 3rem;
    padding-bottom: 1rem;
}

footer section h1 {
    font-size: 1.75rem;
}

footer section hr {
    width: 100px;
    background-color: white;
    border: 1.5px solid white;
    border-radius: 30px;
    margin-top: .2rem;
}

.footer-newsletters {
    width: 100%;
}

.footer-techwatch h2 {
    font-size: 1.2rem;
    padding: 0 4%;
    margin-top: .3rem;
}

.footer-newsletters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-newsletters input{
    width: 275px;
}

.footer-newsletters button{
    margin-top: 0.6rem;

}

.footer-social .social-network {
    display: inline-block;
}

.footer-social .social-network img {
    width: 60px;
    margin: .8rem;
}

.footer-contact .infos-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.footer-contact .infos-contact img {
    width: 40px;
}

.footer-contact .infos-contact h2 {
    font-size: 1.2rem;
    margin-left: .5rem;
}

@media screen and (min-width: 670px) {

    .footer-social .social-network {
        display: flex;
        justify-content: center;
    }
}



@media screen and (min-width: 992px) {
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer-social .social-network {
        display: inline-block;
    }

    footer section h1 {
        font-size: 2.10rem;
    }

    .footer-techwatch h2, .footer-contact .infos-contact h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {

    .footer-social .social-network {
        display: flex;
    }

    .footer-contact .infos-contact img {
        width: 45px;
    }

    .footer-social .social-network img {
        width: 65px;
        margin: .8rem;
    }
}