@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HEADER */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    overflow-x: hidden;
}

.brand-name {
    display: flex;
}

.brand-name h1 {
    align-items: center;
    margin: auto auto;
    line-height: 1;
    font-size: 1.5rem;
    color: white;
}

.navbar {
    background-color: #6B40ED;
    height: 10%;
    z-index: 10;
}

#navbarNav {
    justify-content: flex-end;
}

#navbarNav ul {
    text-align: center;
}

#navbarNav ul li {
    font-size: 1.1rem;
    margin: 10px;
}

#navbarNav ul li a {
    color: white;
    padding: 0;
}

#navbarNav ul li a:hover {
    text-decoration: none;
}

.under-nav-section {
    width: 100%;
    display: inline-block;
    position: relative;
}

.under-nav-section img {
    width: 100%;
    min-height: 200px;
    padding: 0%;
}

.under-nav-title {
    z-index: 1;
    position: absolute;
    left: 8%;
    top: 20%;
    color: #6B40ED;
    width: 100%;
}

.under-nav-title h1 {
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-weight: 900;
    line-height: 1.8rem;
}

.underline-06 {
    background-image: linear-gradient(90deg, #d9d7e0, #ebe6fd);
    background-position: bottom;
    background-size: 100% 45%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 530px) {
    .under-nav-title h1 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .under-nav-title {
        left: 8%;
        top: 16%;
    }
}

@media screen and (min-width: 670px) {
    .brand-name h1 {
        font-size: 2rem;
    }

    .under-nav-title h1 {
        font-size: 2.5rem;
        line-height: 4rem;
    }
}

@media screen and (min-width: 992px) {

    #navbarNav ul li {
        margin: 20px;
    }

    .under-nav-title h1 {
        font-size: 3rem;
        line-height: 5rem;
    }

    .under-nav-title {
        left: 8%;
        top: 21%;
    }
}

@media screen and (min-width: 1200px) {
    .under-nav-title h1 {
        font-size: 3.7rem;
        line-height: 6rem;
    }

    .under-nav-title {
        left: 8%;
        top: 21%;
    }

    #navbarNav ul li {
        margin: 20px;
    }
}

/* ANIMATION HEADER */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.navbar-nav li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;
}

.navbar-nav li a {
    padding: 0.5em 0;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.navbar-nav a:before,
.navbar-nav a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.navbar-nav a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #EDC258;
}

.navbar-nav a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}

.navbar-nav a:hover:before {
    opacity: 1;
    width: 100%;
}

.navbar-nav a:hover:after {
    max-width: 100%;
}

/* FOOTER */

footer {
    background-color: #6B40ED;
}

.footer-category {
    display: flex;
    flex-direction: column;
}

.footer-category section {
    color: white;
    text-align: center;
    padding: 2.6rem;
    padding-bottom: 1rem;
}

.footer-category section h1 {
    font-size: 1.75rem;
}

.footer-category section hr {
    width: 100px;
    background-color: white;
    border: 1.5px solid white;
    border-radius: 30px;
    margin-top: .2rem;
}

.footer-newsletters {
    width: 100%;
}

.footer-techwatch h2 {
    font-size: 1.2rem;
    padding: 0 4%;
    margin-top: .3rem;
}

.footer-newsletters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-newsletters input{
    width: 275px;
    border: 2px solid black;
    border-radius: 10px;
    padding: .2rem .5rem;
}

/*footer-newsletters button{
    margin-top: 0.6rem;
    background-color: #8A7CE4;
    color: white;
    border: 2px solid #A89AFF;
    border-radius: 10px;
    padding: .15rem .6rem;
    cursor: pointer;
}*/

.footer-newsletters button{
    margin-top: 0.6rem;
    background-color: #8A7CE4;
    color: white;
    border: 2px solid #A89AFF;
    border-radius: 10px;
    padding: .15rem .6rem;
    cursor: pointer;
    transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}


.footer-newsletters button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #A89AFF;
    transition: all 0.3s;
    border-radius: 10px;
    z-index: -1;
}

.footer-newsletters button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8A7CE4;
    border-radius: 10px;
    z-index: -2;
}

.footer-newsletters button:hover {
    color: #fff;
}

.footer-newsletters button:hover:before {
    width: 100%;
}

button:focus, input:focus {
    outline: none;
}

.footer-social .social-network {
    display: inline-block;
}

.footer-social .social-network img {
    width: 60px;
    margin: .8rem;
}

.footer-contact .infos-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.footer-contact .infos-contact img {
    width: 40px;
}

.footer-contact .infos-contact h2 {
    font-size: 1.2rem;
    margin-left: .5rem;
}

.copyright {
    width: 100%;
    font-size: .9rem;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: .8rem;
}

@media screen and (min-width: 670px) {

    .footer-social .social-network {
        display: flex;
        justify-content: center;
    }

    .copyright {
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .footer-category {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer-social .social-network {
        display: inline-block;
    }

    .footer-category section h1 {
        font-size: 2.10rem;
    }

    .footer-techwatch h2, .footer-contact .infos-contact h2 {
        font-size: 1.5rem;
    }

    .footer-newsletters {
        align-items: flex-end;
    }
}

@media screen and (min-width: 1200px) {

    .footer-social .social-network {
        display: flex;
    }

    .footer-contact .infos-contact img {
        width: 45px;
    }

    .footer-social .social-network img {
        width: 65px;
        margin: .8rem;
    }
    .footer-techwatch h2 {
        margin-bottom: -.5rem;
    }
}